@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.background {
  height: 600px;
  width: auto;
  background: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  padding: 50px 0px 0px 50px;
}

h1 {
  margin: 0px;
  font-family: 'Arial Narrow', Arial, sans-serif;
  font-size: 90px;
}

p {
  font-family: Raleway;
  font-weight: bolder;
}

.banner-text{
  padding: 7em 5em 0 11%;
}
.tagline {
  font-size: 25px;
  margin: 0px 0px 25px 0px;

}

.button {
  width: 150px;
  border: 1px solid #E4A441;
  background-color: #E4A441;
  border-radius: 4px;
  text-align: center;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: bolder;
  box-shadow: 1px 4px 16px 4px rgba(100,100,100,0.4);
  margin: 0px 0px 25px 0px;
}
.button a{
  color: #fff;
  text-decoration: none;
}

.button:hover{
  background-color: #36493A;
}
@media only screen and (max-width: 800px) {
  .background {
    background: none;
  }
  .banner-text{
    padding: 2em 2em 0 16%;
  }
}